# Ignore WordPress core
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php

# Ignore uploads
wp-content/uploads/

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore database and backups
*.sql
*.zip
*.tar.gz
